[submodule "Python"]
	path = Python
	url = https://github.com/Project-Define/Define-for-Python.git
[submodule "Java"]
	path = Java
	url = https://github.com/Project-Define/Define-for-Java.git
[submodule "Android"]
	path = Android
	url = https://github.com/Project-Define/Define-for-Android.git
[submodule "iOS"]
	path = iOS
	url = https://github.com/Project-Define/Define-for-iOS.git
