Package: com.k2b6s9j.definitionCenter
Name: definitionCenter
Version: 0.1-1
Description: 
Section: Addons (NotificationCenter)
Depends: firmware (>= 5.0)
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Kepler Sticka-Jones
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

